@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
}

@layer base {
  h1 {
    @apply font-bold text-[40px] leading-[40px] text-primary-white md:text-[64px] md:leading-[56px];
  }

  h2 {
    @apply font-bold text-[32px] leading-[32px] text-primary-white xl:text-[48px] xl:leading-[48px];
  }
  a {
    @apply font-semibold transition-colors duration-150;
  }

  button {
    @apply transition-colors duration-150;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    @apply bg-transparent border-b-[1px] w-full p-4 pt-1 pb-4 text-primary-white;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: 0;
    @apply border-secondary-rapture-blue;
  }

  input[type="text"]:-webkit-autofill,
  input[type="text"]:-webkit-autofill:hover,
  input[type="text"]:-webkit-autofill:focus,
  input[type="text"]:-webkit-autofill:active,
  input[type="email"]:-webkit-autofill:hover,
  input[type="email"]:-webkit-autofill:focus,
  input[type="email"]:-webkit-autofill:active,
  input[type="email"]:-webkit-autofill {
    box-shadow: 0 0 0 30px #79c8c7 inset !important; /* change the bg color */
    -webkit-text-fill-color: #002529; /* change the text color */
  }

  textarea {
    @apply p-4 pt-1;
  }

  .input-error {
    @apply border-primary-light-coral;
  }

  .input-error::placeholder {
    @apply text-primary-light-coral opacity-60;
  }
}

.container {
  @apply px-6 md:px-10;
}

.btn {
  @apply inline-block px-6 py-1 text-lg font-semibold border-2 cursor-pointer disabled:opacity-25 disabled:cursor-not-allowed rounded-3xl disabled:pointer-events-none;
}

.btn-primary {
  @apply bg-transparent border-primary-white text-primary-white hover:bg-primary-white hover:text-secondary-dark-green;
}

.btn-primary--dark {
  @apply text-secondary-sacramento-state-green border-secondary-sacramento-state-green hover:text-primary-white hover:bg-secondary-sacramento-state-green;
}

.btn-secondary {
  @apply px-6 bg-primary-white text-secondary-dark-green hover:bg-secondary-rapture-blue hover:border-secondary-rapture-blue;
}

/* Meet the directors button */

.btn-panel {
  @apply p-5 translate-y-1/2 rounded-full bg-primary-light-coral hover:bg-secondary-rapture-blue;
}

.btn-panel-active {
  @apply rotate-45 bg-secondary-rapture-blue hover:bg-primary-light-coral;
}

@layer utilities {
  .paragraph-bar {
    @apply xl:before:absolute xl:before:w-[50px] xl:before:bg-secondary-rapture-blue xl:before:h-1 xl:before:top-0;
  }

  /* Home page patterns */

  .bg-home-two-patterns {
    @apply bg-no-repeat pb-48 bg-[url(/images/bg-pattern-home-1.svg),_url(/images/bg-pattern-home-2.svg)] bg-[position:-200px_top,_center_bottom] xl:bg-[position:-100px_top,_right_165px_bottom];
  }

  .bg-home-pattern-distributed {
    @apply bg-no-repeat
          pb-16 pt-16
          sm:pb-24 sm:pt-28
          lg:pb-36 lg:pt-28
          bg-home-3
          bg-[top_right_-99px]
          lg:bg-[bottom_right_-99px];
  }

  .bg-home-pattern-stories {
    @apply bg-no-repeat
          pb-44 pt-36
          sm:pb-[6rem] sm:pt-28
          lg:py-36
          bg-[url(/images/bg-pattern-home-4-about-3.svg),_url(/images/bg-pattern-home-5.svg)]
          bg-[position:left_top,_right_bottom];
  }

  .bg-home-quotes-stories {
    @apply bg-no-repeat bg-quotes bg-[top_center];
  }

  /* About page patterns */

  .bg-about-pattern-directors {
    @apply bg-no-repeat pb-[7.4rem] sm:pb-[8rem] lg:pb-[10rem] bg-[url(/images/bg-pattern-about-2-contact-1.svg),_url(/images/bg-pattern-home-4-about-3.svg)] bg-[position:left_-99px_top_-100px,_right_bottom] md:bg-[position:left_-99px_top,_right_bottom];
  }

  .bg-about-pattern-right {
    @apply bg-no-repeat bg-about-mobile-nav-1 bg-[right_-99px_bottom_-99px] md:bg-[right_-99px_bottom] pb-28;
  }

  .bg-about-pattern-directors {
    @apply bg-no-repeat pb-[7.4rem] sm:pb-[8rem] lg:pb-[10rem] bg-[url(/images/bg-pattern-about-2-contact-1.svg),_url(/images/bg-pattern-home-4-about-3.svg)] bg-[position:left_-99px_top_-100px,_right_bottom] md:bg-[position:left_-99px_top,_right_bottom];
  }

  .bg-about-pattern-clients {
    @apply bg-no-repeat bg-about-4 bg-[left_-100px_top_-99px] md:bg-[left_top_-99px] xl:bg-[left_top];
  }

  /* Contact page patterns */

  .bg-contact-pattern {
    @apply bg-no-repeat
          pb-[7.4rem]
          sm:pb-[8rem]
          md:pb-[7.7rem]
          xl:pb-[7.3rem]
          bg-[url(/images/bg-pattern-about-2-contact-1.svg),_url(/images/bg-pattern-contact-2.svg)]
          bg-[position:left_-99px_top_-200px,_right_-99px_bottom_-99px] md:bg-[position:left_-105px_top,_right_-99px_bottom];
  }

  /* Shared patterns */
  .bg-pattern-get-started {
    @apply bg-no-repeat
          bg-contactus
          pb-4
          md:py-3
          bg-[left_calc(100%_+_22px)]
          xl:bg-left-bottom;
  }
}
